<!-- Mobile Bottom Navigation Component -->
<div class="mobile-bottom-nav d-lg-none" id="mobileBottomNav">
    <div class="mobile-bottom-nav-container">
        <div class="mobile-bottom-nav-tabs" id="mobileBottomNavTabs">
            <!-- Navigation items will be inserted here by JavaScript -->
        </div>
        
        <!-- Optional swipe dots indicator -->
        <div class="mobile-swipe-dots d-none" id="mobileSwipeDots">
            <!-- Dots will be inserted here by JavaScript -->
        </div>
    </div>
</div>